<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<section>
  <h2>Ghumlaay Stays</h2>
  <p>
    Welcome to Ghumlaay Stays!! Your home away from home, where comfort meets
    luxury.
    Discover the perfect blend of elegance and convenience.
    Experience exceptional hospitality and world-class amenities.
    Your satisfaction is our priority. Where every stay is a story waiting to be
    told.
    Relax, unwind, and enjoy an unforgettable stay at Ghumlaay!!
    <a href="#"> Book your stay today!</a>

  <div class="container">
    <div class="card">
      <div class="card-inner" style="--clr:#fff;">
        <div class="box">
          <div class="imgBox">
            <img src="../assets/images/Hotel/Rooms/room2.jpg"
                 alt="Trust & Co.">
          </div>
          <div class="icon">
            <a href="#" class="iconBox"> <span
                    class="material-symbols-outlined">
                arrow_outward
              </span></a>
          </div>
        </div>
      </div>
      <div class="content">
        <h3>AC Deluxe Rooms</h3>
        <p>Experience ultimate comfort and luxury in our AC Deluxe rooms.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-inner" style="--clr:#fff;">
        <div class="box">
          <div class="imgBox">
            <img src="../assets/images/Hotel/Rooms/room1.jpg"
                 alt="AC Deluxe Rooms">
          </div>
          <div class="icon">
            <a href="#" class="iconBox"> <span
                    class="material-symbols-outlined">
                arrow_outward
              </span></a>
          </div>
        </div>
      </div>
      <div class="content">
        <h3>Super Deluxe Rooms</h3>
        <p>Indulge in unparalleled elegance and spaciousness in our Super Deluxe
          Rooms!
      </div>
    </div>
    <div class="card">
      <div class="card-inner" style="--clr:#fff;">
        <div class="box">
          <div class="imgBox">
            <img src="../assets/images/Hotel/Rooms/room3.jpg"
                 alt="Shower Gel">
          </div>
          <div class="icon">
            <a href="#" class="iconBox"> <span
                    class="material-symbols-outlined">
                arrow_outward
              </span></a>
          </div>
        </div>
      </div>
      <div class="content">
        <h3>Premium Rooms</h3>
        <p>Immerse yourself in the height of luxury and opulence in our
          expansive Premium Rooms, designed for an unforgettable stay.</p>
      </div>
    </div>
  </div>
</section>
