<section class="slider-container">
     <div class="slider-wrapper">
          <div class="slider">
               <img id="image1" src="../assets/images/Hotel/frontview.jpeg"
                    alt="Frontview of hotel">
               <img id="image2" src="../assets/images/Hotel/room1.jpeg"
                    alt="Room View of hotel">
               <img id="image3" src="../assets/images/Hotel/lobby.jpg"
                    alt="Lobby of hotel">\
               <img id="image4" src="../assets/images/Hotel/room2.jpg"
                    alt="Room View of hotel">
               <img id="image5" src="../assets/images/Hotel/swimming.jpeg"
                    alt="Swimming pool of hotel">
          </div>
          <div class="slider-nav">
               <a href="#image1"></a>
               <a href="#image2"></a>
               <a href="#image3"></a>
               <a href="#image4"></a>
               <a href="#image5"></a>
          </div>
     </div>
</section>
